body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('imagem-de-fundo-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff; /* texto claro */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #ccc9c9fd;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

  section {
    background-color: rgba(0, 0, 0, 0.178); /* fundo escuro com transparência */
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h2 {
    color: #077bf0;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #555;
}
#imagem-final {
    text-align: center;
    padding: 20px;
}

#imagem-final img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
